### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml

*/nb-configuration.xml
*/target
*/derby.log
*.jsp~

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
*.launch
.classpath
.springBeans

# Webstorm
.idea
*.iml
.idea/