
/* Limit image width to avoid overflow the container */

@media (min-width: 992px){
    .modal-xlg {
        width: 1200px;
        height: 100%;
    }
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.bs-cropping-modal .image-container {
    min-height: 80%;
}

.bs-cropping-modal .image-container img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
    max-height: 100%;
}

.bs-cropping-modal ul.image-navigation li:nth-child(even) {
    background-color: #F5F5F5;
}

.bs-cropping-modal ul.image-navigation li:nth-child(odd) {
}

.bs-cropping-modal ul.image-navigation  li {

}

.bs-cropping-modal ul.image-navigation  li a {
    line-height: 34px;
}

.bs-cropping-modal ul.image-navigation  li.active {
    background-color: #0088CE;
}
.bs-cropping-modal ul.image-navigation  li.active a {
    color: white;
    background-color: transparent;
    border: none;

}

@media (min-width: 992px) {
    .bs-cropping-modal ul.image-navigation  li.active a:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 14.5px solid transparent;
        border-bottom: 14.5px solid transparent;
        border-right: 26px solid #0088CE;
        display: block;
        position: absolute;
        left: -21px;
    }
}


.bs-cropping-modal ul.image-navigation  li a {
    color: #979797;
    background-color: transparent;
    border: none;
}
.bs-cropping-modal ul.image-navigation  li a:hover {
    text-decoration: none;
    font-weight: normal;
    border: none;

}

.bs-cropping-modal .toolbar-container .btn-primary {
    background: transparent;
    color: #363636;
    font-size: 20px;
    border: none;
    box-shadow: none;
}

.aspect-ratio-buttons .btn-primary {
    background-color: #606161;
    background-image: none;
}

.aspect-ratio-buttons .btn-primary:focus {
    background: white;
    color: black;
}

.bs-cropping-modal .toolbar-container .btn-primary {

}


.image-upload-form .thumbnail {
    max-width: 100%;
}


.img-container,
.img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.img-container {
    margin-bottom: 1rem;
    max-height: 497px;
    min-height: 200px;
}

@media (min-width: 768px) {
    .img-container {
        min-height: 497px;
    }
}

.img-container > img {
    max-width: 100%;
}

.docs-preview {
    margin-right: -1rem;
}

.img-preview {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

.img-preview > img {
    max-width: 100%;
}

.preview-lg {
    width: 200px;
    height: 200px;
    max-width: 100%;
}

.preview-md {
    width: 100px;
    height: 100px;
    max-width: 100%;

}

.preview-sm {
    width: 70px;
    height: 70px;
    max-width: 100%;
}

.preview-xs {
    width: 20px;
    height: 20px;
    margin-right: 0;
    max-width: 100%;
}
