<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="ALL">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5p - %c - %m%n"/>
        </Console>
        <File name="FILE" fileName="entando.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5p - %c - %m%n"/>
        </File>
    </Appenders>

    <Loggers>

        <Logger name="org.apache.log4j.xml" level="info">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.apache.struts2" level="WARN">
            <AppenderRef ref="console"/>
        </Logger>


        <Logger name="org.springframework" level="WARN">
            <Root level="WARN">
                <appender-ref ref="console"/>
            </Root>
        </Logger>

        <Logger name="com.opensymphony" level="WARN">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.apache.cxf" level="WARN">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.apache.tiles" level="WARN">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="com.agiletec" level="DEBUG">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.entando" level="DEBUG">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>