

.widget-square.ui-draggable-dragging {
    transform-origin: left;
    transform: rotate(3deg);
    z-index: 9999;
}

.grid-widget {
    min-width: 70px;
    color: #444;
    border: 1px solid #666;
    border-radius: 3px;
    text-align: center;
    cursor: move;
    display: inline-block;
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.grid-widget .menu-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    font-size: 20px;
    color: #bbb;
    cursor: pointer;
    z-index: 1010;
}


.grid-widget .dropdown {
    position: absolute;
    top: 0;
    height: 0;
    width: 20px;
    right: 0;
}

.grid-slot .slot-name {
    position: absolute;
    left: 10px;
    color: #bbb;
}

.grid-slot .widget-icon {
    font-size: 20px;
    line-height: 35px;
}

.grid-slot .icon-text-block {
    position: relative;
    top: calc(50% - 30px);
    text-align: center;
}

.grid-slot .icon-text-block.ghost .widget-icon {
    color: #bbb!important;
}

.main-container {
    width: calc(100% - 323px);
}

.button-bar .restore-online-btn {
    margin-left: 10px;
}


.grid-container {
    margin-top: 15px;
}

.grid-container[data-online="false"] .grid-slot .widget-icon {
    color: #8b8d8f;
}
.grid-container[data-online="true"] .grid-slot .widget-icon {
    color: #3f9c35;
}

.grid-container[data-online="true"] .grid-slot.diff-slot .widget-icon {
    color: #f0ab00;
}

