

.widget-square.ui-draggable-dragging {
    transform-origin: left;
    transform: rotate(3deg);
    z-index: 9999;
}

.grid-widget {
    min-width: 70px;
    background: #23a8e0;
    color: #fff;
    border: 3px solid #00659c;
    border-radius: 3px;
    text-align: center;
    cursor: move;
    display: inline-block;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.grid-widget .menu-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 1010;
}

.grid-widget .menu-btn[aria-expanded="true"] {
    color: #000000;
}


.grid-widget .dropdown {
    position: absolute;
    top: 0;
    height: 0;
    width: 20px;
    right: 0;
}

.grid-widget .slot-name {
    position: absolute;
    left: 10px;
}

.grid-widget .widget-icon {
    font-size: 20px;
    line-height: 35px;
}

.main-container {
    width: calc(100% - 323px);
}
